
#app {
  position: relative;
  font-family: Arial, sans-serif;
  text-align: center;
  background: rgba(35, 35, 37, 1);
  color: white;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.template-color {
  background: rgba(35, 35, 37, 1);
}

.btn {
  text-decoration: none;
  color: white;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid silver;
  font-size: 1rem;
  background: rgb(255, 121, 121);
  cursor: pointer;
  margin-bottom: 40px;
}

button:hover {
  background: rgb(254, 93, 93);
}

button:active{
  opacity: 0.7;
}

.welcome-ticket-pages {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}